{% extends "base.html" %}
{% block content %}
    <style>
    </style>
    <body>
    <br>
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Classes</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Enjoyment Rating</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Object Oriented Programming I (COMP 248)</td>
                    <td>3.50</td>
                    <td>9/10</td>
                </tr>
                <tr>
                    <td>Introduction to Astronomy (PHYS 284)</td>
                    <td>3.00</td>
                    <td>8/10</td>
                </tr>
                <tr>
                    <td>Mathematics for Computer Science (COMP 232)</td>
                    <td>3.00</td>
                    <td>4/10</td>
                </tr>
                <tr>
                    <td>Professional Practice and Responsibility (ENGR 201)</td>
                    <td>1.50</td>
                    <td>7/10</td>
                </tr>
                <tr>
                    <td>Applied Ordinary Differential Equations (ENGR 213)</td>
                    <td>3.00</td>
                    <td>7/10</td>
                </tr>
                </tbody>
            </table>
            <a href="https://www.concordia.ca/content/dam/ginacody/csse/docs/SE-General-Program.pdf" target=_blank>
                Course Sequence for Software Engineering Student at Concordia University</a>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class=".col-4">
                <p align=justify><br>Lorem ipsum dolor sit amet consectetur adipiscing elit ligula, non ultricies tortor
                    iaculis eros purus duis tempor, cubilia ut fringilla sed nostra feugiat eleifend. Bibendum potenti
                    lacinia senectus vitae neque eleifend diam tellus, feugiat morbi in erat venenatis facilisis primis.
                    Nisl litora scelerisque magna posuere dictum laoreet faucibus tempor gravida, per nascetur curabitur
                    proin mollis tincidunt fringilla sodales, quisque tristique etiam id cubilia cras fames arcu.
                    Mattis scelerisque himenaeos tincidunt sed neque volutpat nam duis malesuada dui leo, facilisi
                    vehicula conubia luctus nisi vitae cubilia gravida iaculis condimentum elementum aenean, accumsan
                    odio lobortis parturient urna feugiat quis metus taciti praesent. Nam sapien class congue lobortis
                    ante varius quisque pulvinar molestie consequat erat libero, imperdiet lacinia rutrum dis
                    ullamcorper vitae taciti non donec fringilla per odio, sem phasellus pretium felis purus at dui
                    sociis metus mus fermentum. Erat dictum luctus facilisi lacus nullam magna, urna etiam quis habitant
                    at a, dis pretium non proin aliquet.
                </p>
            </div>

        </div>

    </div>
    </body>


{% endblock %}