{% extends "base.html" %}

{% block content %}
    <style>
        body {
            background-color: lavender;
        }

        #tab {
            text-align: center;

        }

        h2 {
            text-align: center;
        }
    </style>

    <h2> Here are all of our members </h2><br>
    <table id='tab' border='1' , align="center">
        <th>Username</th>
        {% for name in users %}
            <tr>
                <td height=60px, width=300px>{{ name }}</td>

            </tr>
        {% endfor %}
    </table>



    </div>

{% endblock %}