<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Softwarer Guide Template </title>
    Table of Contents<br>
    <a href="#about">About section</a><br>
    <a href="#purpose">Purpose section</a>

</head>

<p>
<h1>
    Jonathan's Website Outline!
</h1>
<h2 id="about">About</h2>

My website will be about my life as a Concordia student in the Software Engineering program in the form of a blog. It
will be like
a personal blog where I will be able to create a guide for a first year Software Engineering Student and what they
should expect.
The guide will try to go into details about how I found my first semester and what I have learned to become a better
student
and what I could have done to improve my first semester. It will focus on my everyday studying and work as well as
include many personal aspects of my life.
It will consist of how I balance my personal and student life.
I will try to organize my student life and personal life in different tabs on the website.
This may be divided into smaller sections with my interests and strategies for studying and tips for keeping a healthy
lifestyle.
There will also be a section for where I can post my daily tasks and what I have done for that day and how my first
semester was like.<br>
<br>Here is the table of classes: <br>
</p>

<a href="#First Semester SOEN Fall 2019">First Semester SOEN Fall 2019</a><br>
These will be the sections/tabs included:<br>
<ol>
    <li><strong>Daily Posts</strong>
        <ol type="a">
            <li>Homework</li>
            This will go in depth of how I organize my homework schedule and what is being prioritized but will go
            into more detail later in the survival skills tab.
            <li>Studying</li>
            I will go into detail about how I study and what I may do to improve as well as any techniques that
            may be helpful.
        </ol>
    </li>

    <li><strong>Personal</strong>
        <ol type="a">
            <li>Past Schools</li>
            This includes my background as a student and how I was prepared for the university life.
            <li>Interests</li>
            This will try to show who I am as a person and while still trying to figure out
            who I am going into a future career.
        </ol>
    </li>

    <li><strong>Contact</strong>
        <ol type="a">
            I may include this section, this way I will be able to communicate with anyone who visits the website and
            has any questions.
            <li><a href="https://www.instagram.com/jong_jonathan/">Instagram</a></li>

            <li><a href="https://accounts.snapchat.com/accounts/snapcodes">Snapchat</a></li>

            <li><a href="https://www.facebook.com/profile.php?id=100015926971835">Facebook</a></li>
        </ol>
    </li>

    <li><strong>Tips and Tricks</strong>
        <ol type="a">
            <li>General Tips</li>
            For example, in this tab, I will link pictures to describe to the readers of first things to do.
            Most of your first semester classes will take place in these buildings:
            <figure><img src="Hall.jpg"
                         alt="Hall Building" height="100" width="100" align="center"/>
                <figcaption> Hall Building</figcaption>
                <br>
            </figure>


            <figure>
                <img src="https://www.concordia.ca/content/concordia/en/maps/buildings/mb/highlights-features/_jcr_content/content-main/textimage/image.img.jpg/1529520300106.jpg"
                     alt="John Molson School of Business Building" height="100" width="100" align="center"/>
                <figcaption>JMSB Building</figcaption>
            </figure>
            <a href="https://www.concordia.ca/maps/buildings.html">Information of Concordia's Downtown Campus
                Buildings</a><br>
            </li>


            <li> Watching Videos</li>
            I may include youtube channels that have helped me out in first semester as well<br>
            For example: I found this youtube channel to be very helpful in understanding several topics in my ENGR 213
            class.<br>
            <a href="https://www.youtube.com/channel/UCoHhuummRZaIVX7bD4t2czg">Professor Leonard</a>

            <li> Do what you want(to an extent)</li>
            This will cover a tip that I have learnt that proved to be helpful in my studies. By doing what you want
            for homework, this allows you to get that head start to be productive and will actually make you want to
            keep
            working.
        </ol>

    <li><strong>Survival Skills</strong>
        <ol type="a">
            <li>Organization</li>
            This will explain my schedule and how I plan my days based on numerical aspects and time and how
            this visualization helps in keeping me on track with school.
            <li>Prioritization</li>
            This will explain how I prioritize my work based on what is due first, but another aspect as well that is
            just as important if not more. It is about my understanding of that topic and how I may need to spend more
            time
            on that subject if I find it more difficult.
            <li>Active Learning</li>
            A very useful skill I have learned is active learning. This will explain what active learning is and how the
            process
            of constant testing while learning a topic is a much better learning tool than memorization.
        </ol>
    </li>

</ol>

<table border="1">
    <caption id="First Semester SOEN Fall 2019"> First Semester SOEN Fall 2019</caption>
    <tr>
        <th>Classes</th>
        <th>Credits</th>
        <th>Enjoyment Rating</th>
    </tr>
    <tr>
        <td>Object Oriented Programming I(COMP 248)</td>
        <td>3.50</td>
        <td>9/10</td>
    </tr>
    <tr>
        <td>Introduction to Astronomy (PHYS 284)</td>
        <td>3.00</td>
        <td>8/10</td>
    </tr>
    <tr>
        <td>Mathematics for Computer Science (COMP 232)</td>
        <td>3.00</td>
        <td>4/10</td>
    </tr>
    <tr>
        <td>Professional Practice and Responsibility (ENGR 201)</td>
        <td>1.50</td>
        <td>7/10</td>
    </tr>
    <tr>
        <td>Applied Ordinary Differential Equations (ENGR 213)</td>
        <td>3.00</td>
        <td>7/10</td>
    </tr>
    </th>
</table>
<a href="https://www.concordia.ca/content/dam/ginacody/csse/docs/SE-General-Program.pdf"> Course Sequence for Software
    Engineering Student at Concordia University</a>
<h2 id="purpose">Purpose</h2>
<div>
    <p>The purpose of this website will be to inform any new students about the experience of a first year SOEN student
        and the transition from CEGEP to university.
        In the future, if it is possible, I will try to have a section for questions, or even Frequently Asked Questions
        (FAQS) to supply
        answers to any possible questions. The end goal is to simplify the reader's life of entering the program with
        what to expect
        and the do's and the don'ts of starting university. This is coming from personal experience since I had wished
        that
        there was a guide to help me understand what to do first. Transitioning from CEGEP was quite challenging and I
        want any
        SOEN student to feel at ease when being part of that transition.
    </p>
</div>
</body>
</html>
